<h1>Listing users</h1>

<div class="row">
  <div class="span2"><h3>Name</h3></div>
  <div class="span3"><h3>Email</h3></div>
  <div class="span2"><h3>Subdomain</h3></div>
  <div class="span2"><h3>Date of birth</h3></div>
  <div class="span1">&nbsp;</div>
  <div class="span1">&nbsp;</div>
  <div class="span1">&nbsp;</div>
</div>
<% @users.each do |user| %>
    <div class="row">
      <div class="span2"><%= user.name %></div>
      <div class="span3"><%= user.email %></div>
      <div class="span2"><%= user.subdomain %></div>
      <div class="span2"><%= user.birthdate %></div>
      <div class="span1"><%= link_to 'Show', user %></div>
      <div class="span1"><%= link_to 'Edit', edit_user_path(user) %></div>
      <div class="span1"><%= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?'} %></div>
    </div>
<% end %>
<br>
<%= link_to 'New User', new_user_path %>
 